<?xml version="1.0" encoding="GBK"?>
<!-- 指定Spring配置文件的Schema信息 -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="jdbcUrl"
			value="jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=utf8" />
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="user" value="root" />
		<property name="password" value="921118" />
		<property name="maxPoolSize" value="40" />
		<property name="minPoolSize" value="1" />
		<property name="initialPoolSize" value="1" />
		<property name="maxIdleTime" value="20" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>


	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>


	<!-- 事务拦截器 -->
	<bean id="transactionInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager" ref="transactionManager" />
		<property name="transactionAttributes">
			<props>
				<prop key="insert*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
				<prop key="*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<!-- 配置Dao -->
	<bean name="daoTemplate" abstract="true">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean name="adminDao" class="com.np.dao.AdminDaoImpl" parent="daoTemplate" />
	<bean name="albumDao" class="com.np.dao.AlbumDaoImpl" parent="daoTemplate" />
	<bean name="userDao" class="com.np.dao.UserDaoImpl" parent="daoTemplate" />
	<bean name="channelDao" class="com.np.dao.channelDaoImpl" parent="daoTemplate" />
	<bean name="photoDao" class="com.np.dao.PhotoDaoImpl" parent="daoTemplate" />

	<!-- 业务逻辑Bean -->
	<!-- 前台用户 -->
	<bean id="NService" class="com.np.service.NServiceImpl">
		<property name="albumDao" ref="albumDao" />
		<property name="channelDao" ref="channelDao" />
		<property name="photoDao" ref="photoDao" />
		<property name="userDao" ref="userDao" />

	</bean>
	<!-- 后台管理员 -->
	<bean id="AService" class="com.np.service.AServiceImpl">
		<property name="adminDao" ref="adminDao" />
		<property name="channelDao" ref="channelDao" />
	</bean>


</beans>